html,body {
    width: auto;
    background-color: #19437d;
    margin:0;
    padding:0;
    height: 100%;
    overflow-x:hidden;
    }

.image {
    width: 1520px;
    height: 600px;
    align-items: center;
}

.image1 {
    position: relative;
    top: -482px;
    left: 233px;
}

.image2 {
    position: relative;
    bottom: 889px;
    right: 528px;
}

.form {
    width: 342px;
    height: 265px;
    display: inline-block;
    position: relative;
    bottom: 507px;
    left: 2px;
}

#name {
    width: 342px;
    height: 39px;
}

#number {
    width: 342px;
    height: 39px;
}

#email {
    width: 342px;
    height: 39px;
}

#city {
    width: 350px;
    height: 39px;
    position: relative;
    left: 11px;
}

#product {
    width: 350px;
    height: 39px;
    position: relative;
    left: 11px;
}

select {
    display: block;
    margin-bottom: 10px;
}

button {
    width: 350px;
    height: 60px;
    background-color: transparent;
    color: white;
    border-color: white;
    border-radius: 5px;
    font-size: large;
    margin: 30px;
    position: relative;
    right: 18px;
    bottom: -1px;
}

label,
input,
button {
    display: block;
}

label {
    margin: 10px;
}

/* --------------------------------------------------------------------------------------------------- */
.box {
    width: 1503px;
    height: 142px;
    background-color: #deecff;
    color: #19437d;
    font-size: xx-large;
    display: inline-block;
    position: relative;
    bottom: 409px;
    font-weight: bolder;
    padding: 25px;
    text-align: justify;
}

/* ----------------------------------------------------------------------------------------------------------- */
.signature {
    color: #ffffff;
    font-size: 60px;
    font-weight: 1000;
    position: relative;
    text-align: center;
    bottom: 360px;
}

/* ------------------------------------------------------------------------------------------------------------------- */

.list1 {
    color: white;
    font-size: 36px;
    list-style-type: disc;
    width: 500px;
    height: 386px;
    font-weight: bold;
    position: relative;
    bottom: 358px;
    left: 160px;
}

.list2 {
    color: white;
    font-size: 36px;
    list-style-type: disc;
    width: 500px;
    height: 386px;
    font-weight: bold;
    position: relative;
    bottom: 784px;
    left: 701px;
}

.box2 {
    position: relative;
    top: 72px;
    right: -87px;
}

.box3 {
    display: inline-block;
    position: relative;
    border: 3px solid white;
    border-radius: 45px;
    width: 1151px;
    height: 662px;
    bottom: 1177px;
    left: 218px;
}

.box4 {
    border-right: 2px dashed white;
    position: relative;
    bottom: 1830px;
    left: 755px;
    height: 623px;
    width: 0px;
}

/* ---------------------------------------------------------------------------------------------------------------------- */

.batting {
    color: #ffffff;
    font-size: 60px;
    font-weight: 1000;
    position: relative;
    text-align: center;
    bottom: 1769px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */
.list3 {
    color: white;
    font-size: 36px;
    list-style-type: disc;
    width: 538px;
    height: 386px;
    font-weight: bold;
    position: relative;
    bottom: 358px;
    left: 150px;
}

.list4 {
    color: white;
    font-size: 36px;
    list-style-type: disc;
    width: 514px;
    height: 386px;
    font-weight: bold;
    position: relative;
    bottom: 784px;
    left: 725px;
}

.box5 {
    position: relative;
    top: -1380px;
    right: -87px;
}

.box6 {
    display: inline-block;
    position: relative;
    border: 3px solid white;
    border-radius: 45px;
    width: 1151px;
    height: 445px;
    bottom: 2620px;
    left: 218px;
}

.box7 {
        border-right: 2px dashed white;
        position: relative;
        bottom: 3059px;
        left: 807px;
        height: 416px;
        width: 0px;
}

/* ----------------------------------------------------------------------------------------------------------------------- */

.box8{
    text-align: center;
    width: 836px;
    height: 160px;
    background-color: #deecff;
    border-radius: 20px;
    position: relative;
    bottom: 2989px;
    left: 372px;
    /* padding: 5px; */
}
.box8h1{
    position: relative;
    top: 14px;
}
.box8or{
    position: relative;
    bottom: 17px;
}
.contact{
    position: relative;
    bottom: 37px;
}

/* -------------------------------------------------------------------------------------------------------------------- */
.box9{
    height: 320px;
    background-color: #81bdd9;
    padding: 32px 86px 12px 105px;
    position: relative;
    bottom: 2831px;
}
